# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Astronaut=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:COBALT=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Clothing=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL_EMPOWERED=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:DESH=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:IC2_ALLOY=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IC2_BRONZE=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"IMMERSIVEENGINEERING:FARADAY"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"IMMERSIVEENGINEERING:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:Juggernaut=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Marine=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:NCR=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:NETHERITE=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:PIGGYBACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:PowerArmor=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:RAILCRAFT_GOGGLES=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:RAILCRAFT_OVERALLS=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:RAILCRAFT_STEEL=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SENSORGLASSES=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SLIME=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SPACESUIT=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SPACESUIT_LIGHT=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Santa=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ScarSuit=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Spartan=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:TURTLE=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Tactical=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Umbrella=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 6]
    I:boron=6

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:boron_nitride=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:crownGold=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:hard_carbon=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:hat_material=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:hazmat=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:steel=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:sunglasses=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:titanium=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:tough=15
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:BRONZE2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DESH=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:DUMMY=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:GLOWSTONE2=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 13]
    I:IC2_BRONZE=13

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"IE:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:LAZULI2=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:LuxSaber=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:NETHERITE=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:OBSIDIAN2=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:OSMIUM2=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:RAILCRAFT_STEEL=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:STEEL2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Ti-Tema-ian=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:cobalt=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:darkSteel=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:endSteel=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 72]
    I:immolation=72

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"nuclearcraft:boron"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"nuclearcraft:boron_nitride"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"nuclearcraft:hard_carbon"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 6]
    I:"nuclearcraft:spaxelhoe_boron"=6

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:"nuclearcraft:spaxelhoe_boron_nitride"=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"nuclearcraft:spaxelhoe_hard_carbon"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"nuclearcraft:spaxelhoe_tough"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"nuclearcraft:tough"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:plasma=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:spectre=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:steel=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:stellarAlloy=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:titanium=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:volcanic=10
}


